body {
  font-size: 15pt;
  font: "Acumin Variable Concept";
  /* background-image: url(Tuba_light_abb.png);
  background-size: 35%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right; */

  background-image: url(background.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100vw 120%;
  width: 100vw;
}

@media screen and (orientation: portrait)
	{
    .heading{
      font-size: 17vw;
    }
	}
@media screen and (orientation: landscape)
{
  .heading{
    font-size: 60pt;
  }
}

.nav-item-custom{
  margin: 0px 4vw 0px 4vw;
  
}

.menu {
  font-size: 20pt;
  font: "Acumin Variable Concept";
  background-color: #083861;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
}


.background {
  z-index: -1 !important;
}


.navbar-toggler {
  background-color: transparent !important;
  border: 1px solid #FFE080 !important;
  color: #FFE080 !important;
}

.nav-link {
  color: #FFE080 !important;
}


.nav-link:hover {
  background-color: #38537B;
}

.mediaicon {
    margin-top: -5px;
     height: 25px;
     width: auto;
}


.heading {
  font-weight: bold;
  /*font-size: 60pt;*/
  color: #083861;
  
}


hr {
  border: 0;
  max-width: 100%;
  height: 9px;
  background-color: #083861;
}


.maintext {
  text-align: justify;
}


.logo {
  position: absolute;
  top: 2em;
}


.musicians {
  text-align: center;
}


.portraits {
  max-height: 200px;
  max-width: auto;
}


.name {
  font-weight: bold;
}


h5 {
  text-shadow: 1px 1px 3px #083861;
}

footer {
    background-color: #083861;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 11pt;
}

.impressum {
    color: #FFE080 !important;
}

#bayr{
  font-size: 10pt;
  font: "Acumin Variable Concept";
}